@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* outline: dotted 1px; */
}
body {
  background: rgba(0, 0, 0, 0.01);
}
.contacts {
  /* background: #f1f1f1; */
  /* border: solid #f1f1f1 1px; */
}
.chat-main {
  /* background: #5c4f82; */
}
.register {
  background: #5c4f82;
}
.login {
  background: #5c4f82;
}
.receiver {
  background: #4d426d;
}
.sender {
  background: #efa985;
}
header {
  color: #efa985;
  /* box-shadow: 1px 3px 3px 3px #5c4f82; */
}
header > image {
  border: solid 1px #efa985;
}
.selected {
  border-bottom: solid 1px #efa985;
}
.chat-container {
  height: 85%;
  margin-bottom: 5rem;
}
.msg-input:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 5px #efa985; /* Apply a red box shadow when focused */
}
